.videocard{
    /* display: flex;
    flex-direction: column; */
    color: white;
    width: 400px;
    height: 400px;
    padding:20px;
    transition: transform 100ms;
}

.videocard:hover{
    transform: scale(1.09);
}

.videocard > img {
    object-fit: contain;
    height: 300px;
    /* width:100%; */
    width: 400px;
}
.videocard > h2{
    padding-top: 10px;
}
/* .videocard > p{

} */

.videocard__stats{
   display: none;

}

.videocard:hover>.videocard__stats{
    display: flex !important;
    align-items: center;
   
    

}
